:root {
  --color-primary: rgba(34, 79, 52, 1);
  --color-primary-dark: #267d49;
  --color-primary-light: rgba(194, 239, 212, 1);
  --color-text-dark-1: rgba(55, 55, 55, 1);
  --color-text-dark-2: rgba(69, 69, 69, 1);
  --font-primary: Poppins, "sans-serif";
  --bp-largest: 75em; /* 1200px */
  --bp-large: 68.75em; /* 1100px */
  --bp-medium: 56.25em; /* 900px */
  --bp-small: 37.5em; /* 600px */
  --bp-smallest: 31.25em; /* 500px */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary);
  line-height: 1.6;
}
/* End of basic styles */

/* utility classes */
.heading-primary {
  font-size: 5.2rem;
  font-weight: 500;
  font-family: Roboto Slab, "sans-serif";
  color: var(--color-primary);
}
.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 500;
  font-family: Roboto Slab, "sans-serif";
  color: var(--color-primary);
}
.u-text-center {
  text-align: center;
}
.u-margin-top-larg {
  margin-top: 8rem;
}
.u-margin-top-medium {
  margin-top: 5rem;
}
.u-margin-top-small {
  margin-top: 2rem;
}
.u-margin-bottom-larg {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 5rem;
}
.u-margin-bottom-small {
  margin-bottom: 2rem;
}
/* End of utility classes */
/*
NAV BAR
*/

.logo,
.logo:link,
.logo:visited {
  font-size: 4.4rem;
  color: var(--color-primary);
  font-weight: 500;
  font-family: Elephant;
  transition: all 0.2s;
  text-decoration: none;
  cursor: pointer;
}
.logo,
.logo:hover,
.logo:active {
  color: var(--color-primary-dark);
}
.nav {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 2rem 0;
  position: sticky;
  z-index: 9999;
  top: 0;
  /* background-color: #fff; */
  background-color: var(--color-primary-light);
  padding: 1rem 6.4rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 2rem;
  /* justify-content: space-between; */
  align-items: center;
  margin-left: auto;
}
/* .nav__item {
  transition: all 2s;
} */
.nav__link,
.nav__link:link,
.nav__link:visited {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-primary);
  padding: 1rem 2rem;
  border-radius: 3px;
  transition: all 0.2s;
}
.nav__link:hover,
.nav__link:active {
  color: #fff;
  background-color: var(--color-primary-dark);
}
.cart {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  display: block;
  z-index: 11;
}
.active-dot{
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 0.8rem;
  top: 2.1rem;
}
.nav__action {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.phone-menu{
 font-size: 3rem;
 margin-left: auto;
  display: none;
  visibility: hidden;

}
/*
NAV BAR END
*/
/* Hero section */
.header {
  background-color: var(--color-primary-light);
  padding: 0 6.4rem;
  /* height: 120vh; */
}
.hero {
  display: flex;
  padding: 5rem 0;
  align-items: center;
  justify-content: center;
}
.hero-text {
  font-family: Rufina;
  font-weight: 500;
  line-height: 1.2;
  font-size: 6.6rem;
  color: var(--color-primary);
  margin-bottom: 2rem;
  width: 70%;
}
.hero-text-sub {
  font-size: 1.8rem;
  color: var(--color-primary-dark);
  margin-bottom: 4rem;
  font-weight: 400;
  line-height: 1.8;
  width: 70%;
}
.img-box {
  background-color: rgb(93, 180, 128);
  border-radius: 25rem 3rem 25rem 10rem;
  display: flex;
  justify-content: center;
  width: 70%;
  overflow: hidden;
  position: relative;
}
.hero-dots {
  width: 90%;
  position: absolute;
  top: 10rem;
}
.hero-img {
  display: block;
  width: 100%;
}
/* End of Hero section */
/* Btns */

.btn,
.btm:link,
.btn:visited {
  font-size: 1.6rem;
  display: inline-block;
  padding: 1rem 3.5rem;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.2s;
  align-self: flex-start;
  font-weight: 500;
  cursor: pointer;
}
.btn--primary {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.btn--primary:hover {
  background-color: var(--color-primary);
  color: #fff;
}
.btn--secondary {
  color: #fff;
  background-color: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn--secondary:hover {
  background-color: var(--color-primary-dark);
}
/* Best selling section */

.Best-selling-section {
  padding: 3rem 6.4rem;
  text-align: center;
}
.cards {
  margin: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.card-4 {
  width: 30%;
  overflow: hidden;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
}
.card-4:hover > .overlay {
  opacity: 1;
}
.card-3:hover > .overlay {
  opacity: 1;
}
.overlay > button {
  align-self: center;
}
.card-4-img {
  width: 100%;
  /* transition: all 0.3s; */
}
.details {
  position: relative;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  font-size: 1.6rem;
  background-color: #fff;
  padding: 2rem;
  padding-top: 0rem;
  transition: all 0.3s;
  overflow: hidden;
  width: 100%;
  z-index: 1111;
}
.product-name {
  grid-column: span 2;
  margin-bottom: 2rem;
}
.product-price {
  grid-column: 1;
  border-right: 1px solid #dad7d7;
}
.product-rate {
  grid-column: 2;
}
.star-rate {
  color: gold;
}

/* our-products section*/
.our-products {
  padding: 3rem 6.4rem;
  text-align: center;
}
.our-product-nav {
  display: flex;
  justify-content: center;
}
.products__list {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-left: 0;
}
.products__link:hover {
  border-bottom: 2px solid currentColor;
}
.card-3 {
  width: 23%;
  position: relative;
}
.card-3-img {
  width: 100%;
}
/* End of our-products section */

/* exclusive-section */
.exclusive-section {
  background-color: var(--color-primary-light);
  margin: 4rem 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exclusive-img {
  padding-left: 2rem;
  width: 45%;
  display: block;
}
.exclusive-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: stretch;
}
.exclusive-heading {
  font-size: 4rem;
  color: var(--color-primary);
  font-family: Roboto Slab;
}
.exclusive-subheading {
  font-size: 2rem;
  width: 80%;
}
.time {
  display: flex;
  gap: 2rem;
  color: var(--color-primary);
  font-weight: 700;
  text-align: center;
}
.box {
  background-color: #fff;
  width: 10rem;
  height: 10rem;
  font-size: 3.2rem;
  align-content: center;
}
.box span {
  font-size: 1.6rem;
  display: block;
}
/* End of exclusive-section */

/*section-designer-clothes */
.section-designer-clothes {
  padding: 6rem 6.4rem;
  text-align: center;
}
.product-desc {
  grid-column: span 2;
}
/*section-designer-clothes end*/
/* Feedback section */
.section-feedback {
  padding: 5rem 6.4rem;
  /* text-align: left; */
}
.quote {
  font-size: 6rem;
  color: var(--color-primary);
}
.user-name {
  color: var(--color-primary);
  font-size: 2rem;
}
.user-desc {
  font-size: 1.6rem;
}
.feedback-box {
  width: 31%;
  padding: 1rem 2rem;
}
.feedback-box--active {
  background-color: var(--color-primary-light);
}
.feedback-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.feedback-button {
  display: block;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.feedback-button--active {
  background-color: var(--color-primary-light);
}
/* End of Feedback section */

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 0.5fr repeat(2, minmax(20rem, 1fr));
  grid-template-rows: auto auto;
  background-color: var(--color-primary);
  padding: 3rem 6.4rem;
  color: #fff;
  row-gap: 6rem;
  align-items: start;
}
.logo-white {
  color: #fff;
}
.social-media-heading {
  font-size: 1.6rem;
}
.social-media-icon {
  font-size: 2.5rem;
}
.social-media-links {
  display: flex;
  gap: 2rem;
}
.social-link,
.social-link:link,
.social-link:visited {
  color: #fff;
}
.footer__heading {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: Roboto Slab;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.footer__list {
  list-style: none;
}
.footer__item {
  margin-bottom: 1rem;
}
.footer__link,
.footer__link:link,
.footer__link:visited {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.3s;
  display: inline-block;
}
.footer__link:hover {
  text-decoration: underline;
  color: #fff;
}
.main__links {
  display: flex;
  justify-content: space-around;
}
.action {
  grid-column: span 2;
  margin-left: 4rem;
}
.form {
  display: flex;
  position: relative;
}
.form__input {
  outline: none;
  border: none;
  padding: 1.2rem 3rem;
  width: 85%;
  border: solid 2px var(--color-primary-light);
  background-color: transparent;
  font-family: inherit;
  color: #fff;
}
.form__input:focus {
  border: solid 2px var(--color-primary-dark);
}
.form__label {
  position: absolute;
  top: 0;
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 3rem;
  margin-top: 1rem;
  display: block;
  transform: translateY(5rem);
  transition: all 0.3s;
}
.form__input::placeholder {
  color: #fff;
  font-size: 1.6rem;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
}
.form__btn {
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  font-size: 1.6rem;
  border-radius: 0 3px 3px 0;
  font-family: inherit;
}
.form__btn:hover {
  background-color: var(--color-primary-dark);
  color: #fff;

}
.website-terms {
  grid-row: 2;
  grid-column: 4/5;
  display: flex;
  gap: 2rem;
  position: relative;
}
.website-terms a,
.website-terms a:link,
.website-terms a:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
}
.website-terms a:first-child {
  margin-left: 2rem;
}
.footer::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--color-primary-light);
  grid-column: 1/4;
  grid-row: 2;
  align-self: center;
}

::selection {
  color: #fff;
  background-color: var(--color-primary-dark);
}

/* End of Footer */

/* Media queries */
